html{
    background-image: linear-gradient(35deg,#232323,#eee);
}
body {
    margin: 0;
    font-family: "Raleway", "Avenir";
}

.square {
    width: 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 15%;
    transition: background 0.6s;
    -webkit-transition: background 0.6s;
    -moz-transition: background 0.6s;
    -ms-transition: background 0.6s;
}
.instruction {
    border: 1px solid white;
    padding: 10px;
    display: flex;
    flex-flow: column wrap; 
    color: #FFF;
    justify-content: center;
}

#container {
    margin: 20px auto;
    max-width: 600px;
}

h1 {
    text-align: center;
    font-weight: normal;
    line-height: 1.1;
    color: #FFF;
    background: steelblue;
    margin: 0;
    text-transform: uppercase;
    padding: 20px 0;
}

#colorDisplay {
    font-size: 200%;
}

#message {
    color: grey;
    display: inline-block;
    width: 30%;
}

#stripe {
    background: #FFF;
    height: 30px;
    text-align: center;
    color: black;
}

.selected {
    color: #FFF;
    background: steelblue;
}
footer{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: stretch;
    color: #232323;
    font-size: 1.5rem;
    position: fixed;
    top: 87%;
    bottom: 0;
}

button {
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    color: steelblue;
    transition: all 0.3s;
    outline: none;
}

button:hover {
    color: #FFF;
    background: steelblue;
}

@media (max-width: 500px) {
    h1 {
        font-size: 1.5rem;
    }
    footer{
        font-size: 1rem;
    }
}